@import url(https://fonts.googleapis.com/css?family=Bungee);
*{
    margin: 0;
    padding: 0;
    font-size: 16px;
    text-align: center;
    scroll-behavior: smooth;
}
.wrapper{
    background: url(Rift.jpg) no-repeat;
    background-size:cover;
    height: 100vh;
    background-attachment: fixe;
}
.navbar{
    height: 5em;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content:space-between;
    position: fixed;
}
.navbar h1{
    width: auto;
    font-family: 'Bungee';
    font-size: 5em;
    color: white;
    margin-left: 0.5em;
}
ul{
    float: right;
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-around;
}
.navlist a{
    text-decoration: none;
    font-size: 4em;
    color: white;
    
}
.container1{
    display: flex;
    height: 100vh;
    width: auto;
    justify-content: center;
    align-items: center;
    background: url(/Prueba/img/Fantasy.jpg) no-repeat;
    background-size: cover;
    height: 100vh;
}
.container1 p{
    color: black;
    font-size: 4em;
}
.container2{
    display: flex;
    height: 100vh;
    width: auto;
    justify-content: center;
    align-items: center;
    background: url(/Prueba/img/Fantasy.jpg) no-repeat;
    background-size: cover;
    height: 100vh;
}