@import url(https://fonts.googleapis.com/css?family=Bungee);
*{
    margin: 0;
    padding: 0;
    font-size: 16px;
    text-align: center;
    scroll-behavior: smooth;
}
/* settings básicos*/

.wrapper{
    background: rgba(0, 0, 0, 0.5)url(/Prueba/Prueba/img/Nebulosa.jpg) no-repeat;
    background-size:cover;
    height: 100vh;
    background-blend-mode: darken;
}
/*Imagen del landing page*/

.navbar{
    height: 5em;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    display: flex;
    align-items: center; /*centrar las letras en el navbar*/
    justify-content: space-between;
}
.name{
    width: auto;
    font-family: 'Bungee';
    font-size: 5em;
    color: white;
    margin-left: 0.5em;
}
.navlist{
    display: flex;
    overflow:hidden;
}
.navlist a{
    margin: 0 1em;
    text-decoration: none;
    color: white;
}
/* Ha sido una gilipollez, pero lo he conseguido*/
section{
    height: 100vh;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper2{
    background: rgba(0,0,0,0.5)url(/Prueba/Prueba/img/Rift.jpg) no-repeat;
    background-size: cover;
    background-blend-mode: darken;
}



.wrapper3{
    background:rgba(0, 0, 0, 0.5) url(/Prueba/Prueba/img/Fantasy.jpg) no-repeat;
    background-size: cover;
    background-blend-mode: darken;   
}
.text{
    color: white;
    font-size: 4em;
}
.container2{
    display: flex;
    height: 100vh;
    width: auto;
    justify-content: center;
    align-items: center;
    background: url(/Prueba/img/Fantasy.jpg) no-repeat;
    background-size: cover;
    height: 100vh;
}